.example-card {
  max-width: 500px;
  margin-top: 20%;
}

.main-header {
  font-size: 28px;
  font-family: system-ui;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 9px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 67px;
  padding: 20px;
}

.login-btn {
  font-size: 16px;
  margin-left: 85%  ;
}